
<h1>Mario's Products and Reviews</h1>

<h1>Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


<p><%= link_to "Create new product", new_product_path %></p>


<h1> Top 3 products </h1>
<% if @products.three.any? %>
  <ul>
    <% @products.three.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no top 3 products.</p>
<% end %>

<h3>Product with the most reviews: </h3>
<%= Product.most_reviews.first.name %>