<h1> Mario's Products and Reviews</h1>

<p>Welcome to my store. Here, you can add products and then review these products. Reviews are connected to their corresponding products. 

<p><%= link_to "Products", products_path %></p>
<p><%= link_to "Create new product", new_product_path %></p>